@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 27, 28, 42;
        --background-end-rgb: 14, 14, 22;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

html,
body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@layer utilities {
    .text-balance {
        text-align: justify;
        hyphens: auto;
    }
}

@layer components {
    .page {
        @apply mx-auto flex min-h-[calc(100vh-76px)] w-full max-w-screen-2xl flex-col items-center gap-3 lg:gap-4 px-3 py-4 md:px-8 lg:py-5 lg:px-14;
    }

    .label {
        @apply block font-medium;
    }

    .input {
        @apply mt-1 w-full rounded-lg border border-primary-light bg-primary p-2 text-primary focus:border-accent-hover focus:outline-none focus:ring-accent;
    }

    .button {
        @apply max-w-fit rounded-lg bg-primary-light/60  font-bold text-primary transition-all duration-200 hover:bg-accent-hover px-5 py-3;
    }
    .icon-button {
        @apply max-w-fit rounded-lg p-1 font-bold text-primary transition-all duration-200 hover:text-accent;
    }
}
