@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

/* ========= THEME TOKENS ========= */
@theme inline {
    --font-sans: 'OpenSans', sans-serif;
    --font-mono: 'Courier New', Courier, monospace;

    --color-background-primary: var(--c-bg-primary);
    --color-background-secondary: var(--c-bg-secondary);
    --color-background-tertiary: var(--c-bg-tertiary);

    --color-foreground: var(--c-fg-base);
    --color-foreground-accent: var(--c-fg-accent);
    --color-foreground-secondary: var(--c-fg-secondary);
    --color-foreground-muted: var(--c-fg-muted);
    --color-foreground-contrast: var(--c-fg-contrast);

    --color-accent-100: var(--c-accent-100);
    --color-accent-500: var(--c-accent-500);
    --color-accent-700: var(--c-accent-700);

    --color-border-100: var(--c-border-100);
    --color-border-500: var(--c-border-500);
    --color-border-700: var(--c-border-700);

    --color-muted-100: var(--c-muted-100);
    --color-muted-500: var(--c-muted-500);
    --color-muted-700: var(--c-muted-700);

    --color-error-100: var(--c-error-100);
    --color-error-500: var(--c-error-500);
    --color-error-700: var(--c-error-700);

    --color-success-100: var(--c-success-100);
    --color-success-500: var(--c-success-500);
    --color-success-700: var(--c-success-700);

    --color-warning-100: var(--c-warning-100);
    --color-warning-500: var(--c-warning-500);
    --color-warning-700: var(--c-warning-700);

    --color-info-100: var(--c-info-100);
    --color-info-500: var(--c-info-500);
    --color-info-700: var(--c-info-700);

    --animate-slide-in: slide-in 0.2s ease-out;
    --animate-slide-out: slide-out 2s linear forwards;
    --animate-fade-in: fade-in 0.6s ease-out;
    --animate-float: float 4s ease-in-out infinite;

    @keyframes slide-in {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes slide-out {
        0% {
            width: 100%;
        }
        100% {
            width: 0%;
        }
    }
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes float {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-8px);
        }
    }
}

/* ========= COLOR VARIABLES ========= */
:root {
    --c-bg-primary: rgb(239, 239, 245);
    --c-bg-secondary: rgb(255, 255, 255);
    --c-bg-tertiary: rgb(211, 215, 220);

    --c-fg-base: rgb(17, 24, 39);
    --c-fg-secondary: rgb(100, 116, 139);
    --c-fg-muted: rgb(100, 116, 139);
    --c-fg-contrast: rgb(255, 255, 255);
    --c-fg-error: rgb(206, 30, 30);
    --c-fg-accent: rgb(97, 31, 200);

    --c-accent-100: rgb(226, 205, 251);
    --c-accent-500: rgb(109, 40, 217);
    --c-accent-700: rgb(79, 4, 172);

    --c-border-100: rgb(229, 231, 235);
    --c-border-500: rgb(203, 213, 225);
    --c-border-700: rgb(148, 163, 184);

    --c-muted-100: rgb(241, 245, 249);
    --c-muted-500: rgb(107, 114, 128);
    --c-muted-700: rgb(71, 85, 105);

    --c-error-100: rgb(254, 232, 232);
    --c-error-500: rgb(239, 68, 68);
    --c-error-700: rgb(153, 27, 27);

    --c-success-100: rgb(170, 220, 187);
    --c-success-500: rgb(34, 197, 94);
    --c-success-700: rgb(22, 101, 52);

    --c-warning-100: rgb(255, 251, 235);
    --c-warning-500: rgb(251, 191, 36);
    --c-warning-700: rgb(202, 138, 4);

    --c-info-100: rgb(219, 234, 254);
    --c-info-500: rgb(59, 130, 246);
    --c-info-700: rgb(30, 64, 175);
}

.dark {
    --c-bg-primary: rgb(33, 35, 52);
    --c-bg-secondary: rgb(19, 23, 34);
    --c-bg-tertiary: rgb(57, 65, 81);

    --c-fg-base: rgb(236, 237, 238);
    --c-fg-secondary: rgb(181, 184, 196);
    --c-fg-muted: rgb(158, 172, 192);
    --c-fg-contrast: rgb(15, 23, 42);
    --c-fg-error: rgb(251, 105, 105);
    --c-fg-accent: rgb(244, 128, 80);

    --c-accent-100: rgb(245, 182, 156);
    --c-accent-500: rgb(202, 64, 7);
    --c-accent-700: rgb(168, 51, 3);

    --c-border-100: rgb(41, 45, 65);
    --c-border-500: rgb(71, 85, 105);
    --c-border-700: rgb(30, 41, 59);

    --c-muted-100: rgb(30, 41, 59);
    --c-muted-500: rgb(169, 178, 191);
    --c-muted-700: rgb(71, 85, 105);

    --c-error-100: rgb(199, 130, 130);
    --c-error-500: rgb(207, 36, 36);
    --c-error-700: rgb(158, 21, 21);

    --c-success-100: rgb(220, 252, 231);
    --c-success-500: rgb(34, 197, 94);
    --c-success-700: rgb(22, 101, 52);

    --c-warning-100: rgb(255, 251, 235);
    --c-warning-500: rgb(251, 191, 36);
    --c-warning-700: rgb(202, 138, 4);

    --c-info-100: rgb(219, 234, 254);
    --c-info-500: rgb(59, 130, 246);
    --c-info-700: rgb(30, 64, 175);
}

/* ========= BASE STYLES ========= */
body {
    @apply bg-background-primary text-foreground transition-colors duration-300;
    font-family: var(--font-sans);
}

/* ========= SCROLLBAR ========= */
@layer base {
    button,
    [role='button'] {
        cursor: pointer;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: color-mix(
            in srgb,
            var(--c-muted-500) 70%,
            transparent
        );
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: color-mix(
            in srgb,
            var(--c-muted-500) 90%,
            transparent
        );
        cursor: pointer;
    }

    ::-webkit-scrollbar-track {
        background-color: color-mix(
            in srgb,
            var(--c-muted-500) 30%,
            transparent
        );
    }
}

/* ========= CUSTOM UTILITIES ========= */
@utility bg-primary {
    background-color: var(--c-bg-primary);
}

@utility bg-secondary {
    background-color: var(--c-bg-secondary);
}

@utility bg-tertiary {
    background-color: var(--c-bg-tertiary);
}

@utility bg-accent {
    background-color: var(--c-accent-500);
}

@utility text-contrast {
    color: var(--c-fg-contrast);
}

@utility text-secondary {
    color: var(--c-fg-secondary);
}

@utility text-muted {
    color: var(--c-fg-muted);
}

@utility text-accent {
    color: var(--c-fg-accent);
}

@utility text-error {
    color: var(--c-fg-error);
}

@utility ring-accent {
    --tw-ring-color: var(--c-accent-500);
}

@utility text-readable {
    text-shadow:
        0 1px 4px var(--c-bg-secondary),
        0 0 12px var(--c-bg-secondary);
}

/* ========= COMPONENTS ========= */
@layer components {
    .page {
        @apply mx-auto flex w-full max-w-[90rem] flex-1 flex-col items-center gap-4 px-4 py-6 sm:px-6 lg:px-8;
    }
    .label {
        @apply block text-base font-bold;
    }

    .input {
        @apply mt-1 w-full rounded-lg border border-border-500 bg-secondary p-2 text-base text-foreground focus-visible:border-accent-700 focus-visible:ring-2 focus-visible:ring-accent-500 focus-visible:outline-hidden;
    }

    .link {
        @apply rounded-lg text-accent transition-colors duration-300 focus-visible:border-background-secondary focus-visible:ring-2 focus-visible:ring-accent-500 focus-visible:outline-hidden;
    }

    .button {
        @apply inline-flex cursor-pointer items-center justify-center gap-2 rounded-lg font-medium transition-colors duration-300 focus-visible:ring-2 focus-visible:ring-accent focus-visible:ring-offset-2 focus-visible:ring-offset-background-primary focus-visible:outline-hidden;
    }

    .button-solid {
        @apply bg-accent text-contrast hover:bg-accent-700 dark:text-foreground;
    }

    .button-ghost {
        @apply bg-background-tertiary/40 text-foreground/80 hover:bg-background-tertiary/60 hover:text-foreground;
    }

    .button-danger {
        @apply bg-error-500 font-medium text-foreground-contrast hover:bg-error-700 dark:text-foreground;
    }

    .button-disabled {
        @apply cursor-not-allowed bg-background-tertiary/60 text-foreground-muted;
    }

    .button:disabled {
        @apply cursor-not-allowed bg-primary text-foreground-muted opacity-60;
    }

    .button-xs {
        @apply px-2 py-1 text-sm;
    }

    .button-sm {
        @apply px-3 py-1 text-base;
    }

    .button-md {
        @apply px-4 py-2 text-lg;
    }

    .button-lg {
        @apply px-6 py-3 text-xl;
    }

    .icon-button {
        @apply inline-flex items-center justify-center rounded-lg p-1 text-accent hover:text-accent-700 focus:outline-hidden focus-visible:ring-1 focus-visible:ring-accent focus-visible:ring-offset-1 focus-visible:ring-offset-accent-700;
    }

    .card {
        @apply w-full max-w-md rounded-3xl bg-background-secondary px-5 py-4 shadow-md;
    }
}

/* ========= MARKDOWN/CONTENT STYLE ========= */
@layer components {
    .markdown-content {
        @apply prose prose-sm max-w-none prose-neutral sm:prose-base dark:prose-invert;
    }

    .markdown-content strong {
        @apply text-foreground;
    }

    .markdown-content ul {
        @apply ml-5 list-disc;
    }
    .markdown-content ol {
        @apply ml-5 list-decimal;
    }
    .markdown-content li {
        @apply my-1;
    }
    .markdown-content li p {
        @apply my-0.5;
    }
    .markdown-content p {
        @apply my-0.5;
    }

    .markdown-content h2 {
        @apply text-accent;
    }

    .markdown-content h3 {
        @apply mt-5 mb-2 italic;
    }

    .markdown-content h4 {
        @apply mt-3 mb-1;
    }

    .markdown-content a {
        @apply rounded-xl px-[2px] text-accent no-underline hover:text-accent hover:underline focus:outline-hidden focus-visible:ring-1 focus-visible:ring-accent focus-visible:ring-offset-1 focus-visible:ring-offset-accent-100;
    }

    .markdown-content :not(pre) > code::before,
    .markdown-content :not(pre) > code::after {
        content: none !important;
    }

    .markdown-content :not(pre) > code {
        @apply rounded bg-background-secondary px-1.5 py-0.5 font-mono text-base font-thin text-foreground-secondary md:text-lg dark:bg-background-tertiary;
    }

    .markdown-content pre {
        @apply mx-0 my-1 overflow-x-auto rounded-lg bg-background-primary p-4 text-base text-foreground md:text-lg;
    }

    .markdown-content pre code {
        @apply bg-transparent p-0 font-mono text-lg lg:text-xl;
    }

    .markdown-content table th:first-child,
    .markdown-content table td:first-child,
    .markdown-content table tfoot td:first-child {
        padding-inline-start: 12px;
        padding-inline-end: 12px;
    }

    .markdown-content pre code::before,
    .markdown-content pre code::after {
        content: none !important;
    }
}
